.articleChars {

  &__in {
    max-width: 1160px;
    width: 100%;
  }
  
  &__item {
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
    border-bottom: 1px solid #545454;
    font-size: 32px;
    line-height: 64px;
    
    &_name {
      width: 50%;
      font-weight: 700;
    }
    &_value {
      width: 50%;
    }
  }
}