.orderMain {

    &__in {
        paddinG: 40px 0; 
        display: flex;
        justify-content: center;
    }

    &__body {
        max-width: 590px;
        width: 100%;
        
        &_title {
            margin-bottom: 40px;
        }

        &_form {

            &_item {
                margin-bottom: 30px;
            }

            &_input {
                padding: 10px 15px;
                border-bottom: 0.5px solid #FFF;
                width: 100%;
                font-size: 24px;
                line-height: 36px;

            }

            &_ex {
                padding: 12px;
                font-size: 16px;
                line-height: 24px;
                color:#E6E6E6;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                &_counter {
                    display: flex;
                    align-items: center;
                    
                    margin-left: 10px;

                    &_total {
                        font-size: 24px;
                        line-height: 36px;
                        margin-right: 15px;
                    }

                    &_el {
                        display: flex;
                        align-items: center;
                        height: 44px;
                    }

                    &_btn {
                        width: 21px;
                        border: 1px solid #fff;
                        height: 100%;
                        @include ease-def;

                        &:hover {
                            color: #fff;
                            background-color: var(--red_1);
                            border-color: var(--red_1);
                        }
                    }

                    &_val {
                        margin: 0 7px;
                        border: 1px solid #fff;
                        width: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        height: 100%;
                    }
                }
            }

            &_action {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                justify-content: space-between;

                &_back {
                    width: 40px;
                    height: 40px;
                    flex: 0 0 auto;
                    background-image: url('../../../../img/icons/back.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                &_send {
                    max-width: 415px;
                    width: 100%;
                    border: 5px solid var(--red_1);
                    font-family: 'undertale_battle_font';
                    font-size: 19px;
                    letter-spacing: 3.371px;
                    text-transform: uppercase;
                    line-height: normal;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: var(--red_1);
                    @include ease-def;

                    &:hover {
                        background-color: var(--red_1);
                        color: #fff;
                    }

                }
            }

            &_link {
                text-align: center;
                font-size: 16px;
                line-height: 25px;
                a {
                    text-decoration: underline;
                    @include ease-def;

                    &:hover {
                        color: var(--red_1);
                    }
                }
            }
        }
        
    }
}

@media (max-width: 768px) {
    .orderMain {

        &__in {
            padding-top: 0;
        }

        &__body {
            &_title {
                margin-bottom: 30px;
            }

            &_form {
                &_item {
                    margin-bottom: 20px;

                   
                }
                &_ex {
                    flex-wrap: wrap;
                    margin-bottom: 20px;

                    &_counter {
                        margin-left: 0;
                        
                        width: 100%;
                        justify-content: space-between;
                        flex-wrap: wrap;


                        &_total {
                            order: -1;
                            margin-bottom: 15px;
                        }   

                        &_el {
                            width: 100%;
                            
                        }

                        &_val {
                            width: 100%;
                        }

                        &_btn {
                            width: 50px;
                        }
                    }
                }

                &_action {
                    &_back {
                        display: none;
                    }
                }
            }
        }
    }
}