.keyMain {

  &__in {
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
  }

  &__main {
    padding-right: 20px;
    width: 50%;

    &_title {
      
    }

    &_img {
      height: 750px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: flex;
      }
    }
  }

  &__list {
    padding-left: 20px;
    width: 50%;
    color: #DCDCDC;

    &_item {
      margin-bottom: 45px;

      &:last-child {
        margin-bottom: 0;
      }

      &_num {
        margin-bottom: 10px;
        font-size: 64px;
        line-height: normal;
      }

      &_body {

        &_title {
          margin-bottom: 10px;
        }

        &_text {

        }

      }
    }
  }
}

@media (max-width: 768px) {
  .keyMain {

    &__in {
      padding: 25px 0;
      flex-wrap: wrap;
    }

    &__main {
      width: 100%;

      &_img {
        height: unset;
      }
    }

    &__list {
      width: 100%;
      padding-left: 0;

      &_item {
        &_body {
          &_text {
            font-size: 16px;
          }
        }
      }
    }
  }
}