.articleDescr {
  &__in {
    h3 {
      margin-bottom: 35px;
      font-size: 32px;
      font-weight: 700;
    }
    ul {
      margin-bottom: 35px;
      padding-left: 10px;

      li {
        list-style: disc;
      }
    }
    p {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 768px) {
  .articleDescr {
    h3 {
      font-size: 25px;
      line-height: 30px;
    }
  }
}