.homePas {

  &__in {
    padding: 40px 0;
  }
  &__title {
    margin-bottom: 90px;
  }

  &__body {

    &_main {
      display: flex;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 40px;

      &_item {
        display: flex;
        align-items: flex-start;
        width: calc((100% / 3) - 40px);
        margin: 0 20px;

        &_num {
          margin-right: 20px;
          font-size: 32px;
          font-weight: 700;
        }
        &_body {

        }
      }
    }

    &_vals {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 50px;

      &_item {
        margin: 0 15px;
        &:last-child {
          color: var(--red_1);
        }
        &_value { 
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        &_label {
          font-weight: 700;
          max-width: 190px;
          width: 100%;
        }
      }
    }

    &_action {
      display: flex;
      align-items: center;
      justify-content: center;

      &_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include ease-def;

        &:hover {
          .homePas__body_action_btn_label {
            color: var(--red_1);
          }
          .homePas__body_action_btn_icon {
            svg {
              rect {
                fill: var(--red_1) !important;
                stroke: var(--red_1);
              }
            }
          }
        }

        &_label {
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          margin-bottom: 15px;
          @include ease-def;
        }

        &_icon {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include ease-def;
          svg {
            rect,path {
              @include ease-def;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homePas {

    &__in {
      padding: 25px 0;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__body {
      

      &_main {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #fff;

        &_item {
          width: 100%;
          margin: 0;
          margin-bottom: 15px;
        }
      }

      &_vals {
        flex-wrap: wrap;

        &_item {
          width: calc((100% / 2) - 30px);
          margin-bottom: 15px;

          &_value {
            font-size: 18px;
            line-height: 27px;
          }
          &_label {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}