.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  text-transform: uppercase;
  font-size: 61px;
  padding: 5px;
  font-family: VT323; 
  span {
    color: var(--red_1);
  }
}