.stars {
    display: flex;
    align-items: center;
    margin-right: -2px;
    margin-left: -2px;

    .star {
        width: 18px;
        height: 18px;
        flex: 0 0 auto;
        margin: 0 2px;
        background-image: url('../../img/icons/star.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;   
    }
}
