.fwMain {

  &__in {
    padding: 40px 0;
  }

  &__title {
    
    margin-bottom: 25px;
  }

  &__body {
    display: flex;
    align-items: center;
    background-color: #811E1E;

    &_descr {
      padding: 50px;
      width: 100%;
      
      &_text {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 31px;
      }

      &_ex {

        &_logo {
          background-image: url('../../../../img/icons/bitmain.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          max-width: 355px;
          width: 100%;
          height: 50px;
          margin-bottom: 20px;
        }
        &_text {

        }
      }
    }

    &_img {
      width: 570px;
      height: 540px;
      flex: 0 0 auto;
      position: relative;
      transform: scale(1.1);
      background-color: var(--red_1);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: flex;
      }
    }

    &_list {
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      &_item {
        width: 100%;
        padding: 10px 10px 10px 70px;
        position: relative;
        background-color: var(--red_1);
        color: #000;
        margin-bottom: 15px;
        position: relative;

        &:after {
          position: absolute;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: '';
          top: calc(50% - 10px);
          left: 20px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(1) {
          &:after {
            background-image: url('../../../../img/icons/fwMain-icon-1.svg');
          }
        }

        &:nth-child(2) {
          &:after {
            background-image: url('../../../../img/icons/fwMain-icon-2.svg');
          }
        }

        &:nth-child(3) {
          &:after {
            background-image: url('../../../../img/icons/fwMain-icon-3.svg');
          }
        }

        &:nth-child(4) {
          &:after {
            background-image: url('../../../../img/icons/fwMain-icon-4.svg');
          }
        }

        &_title {
          font-weight: 700;
          position: relative;
          z-index: 2;

        }
        &_text {
          position: relative;
          z-index: 2;
        }
      }
    }
  }

}


@media (max-width: 768px) {
  .fwMain {

    &__in {
      padding: 25px 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__body {
      flex-wrap: wrap;

      &_descr {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
      &_img {
        width: 100%;
        transform: scale(0.95);
        order: -1;
        margin-top: -30px;
      }
      &_list {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        &_item {
          border-radius: 20px;
        }
      }
    }
  }
}