.homeRevs {

  &__in {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__body {

    
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D1D1D;
    padding: 55px 25px 55px 100px;
    border-radius: 12px;
    margin-bottom: 46px;  
    

    &_main {
      width: 100%;
      display: flex;
      align-items: center;


      &_avatar {
        flex: 0 0 auto;
        width: 145px;
        height: 175px;
        background-image: url('../../../../img/img/avatar-placeholder.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &_descr {
        padding: 0 15px 0 85px;

        &_name {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 20px;
        }

        &_text {

        }

      }
    }
    &_media {
      display: flex;
      
      &_item {
        width: 252px;
        height: 200px;
        margin: 0 12px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          height: 265px;
          object-fit: cover;
          display: flex;
          position: absolute;
          bottom: -70px;
          left: 0;
        }
      }
    }

  }
}

@media (max-width: 768px) {
  .homeRevs {

    &__in {
      padding: 25px 0;
    }

    &__body {

    }

    &__item {
      padding: 30px 15px;
      flex-wrap: wrap;
      margin-bottom: 60px;

      &_main {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 40px;

        &_avatar {
          margin-bottom: 30px;
        }
        &_descr {
          padding: 0;
        }
      }

      &_media {
        width: 100%;
      }
    }
  }
}