@font-face {
  font-family: "VT323";
  font-display: swap;
  src: url("../fonts/VT323-Regular.woff2") format("woff2"), url("../fonts/VT323-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --red_1: #E31E25;
  --red_2: #9D2320;
  --gray_1: #D2D2D2;
  --gray_2: #464646;
  --gray_3: #343434;
  --blue_1: #0088CC;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

button, input {
  border: none;
  background-color: unset;
  font: size;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
  font-family: "Anonymous Pro";
  font-size: 18px;
  line-height: 27px;
}

.first-block {
  padding-top: 172px;
}

.container {
  max-width: 1620px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
.header:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.2s ease;
  content: "";
  background-color: #000;
}
.header__in {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
}
.header__logo {
  width: 230px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__part {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.header__catalog {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 60px;
}
.header__catalog_btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.header__catalog_btn_main {
  padding: 0 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.header__catalog_btn_icon {
  height: 100%;
  width: 85px;
  display: none;
}
.header__catalog_search {
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}
.header__catalog_search_btn {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}
.header__catalog_search_input {
  height: 100%;
  width: 0;
  background-color: #fff;
}

.header.active:after {
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 61px;
  padding: 5px;
  font-family: VT323;
}
.logo span {
  color: var(--red_1);
}

.burger {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
}
.burger span {
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.2s ease;
}
.burger span:nth-child(1) {
  width: 15px;
  height: 15px;
  border-radius: 1px 0 0 1px;
}
.burger span:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 0 1px 1px 0;
}
.burger span:nth-child(3) {
  width: 18px;
  height: 8px;
  margin: 0 auto;
  margin-top: 7px;
}
.burger:hover span:nth-child(1) {
  border-radius: 1px;
  transform: translateX(-3.5px);
}
.burger:hover span:nth-child(2) {
  border-radius: 1px;
  transform: translateX(3.5px);
}

.product {
  display: flex;
  flex-direction: column;
  background-color: #D2D2D2;
  position: relative;
  min-height: 670px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  padding: 50px 12px 0 12px;
}
.product:after {
  position: absolute;
  top: -35px;
  right: -35px;
  content: "";
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  background-color: #000;
}
.product:before {
  position: absolute;
  bottom: -35px;
  left: -35px;
  content: "";
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  background-color: #000;
}
.product__img {
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}
.product__body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.product__body_main {
  padding: 15px;
  background-color: #000;
}
.product__body_main_name {
  margin-bottom: 20px;
}
.product__body_main_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__body_main_price_old {
  color: #838383;
  text-decoration: line-through;
}
.product__body_info {
  padding: 15px 0;
}
.product__body_info_top {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: #000;
}
.product__body_info_list_item {
  margin-bottom: 5px;
  color: #000;
}
.product__body_info_list_item:last-child {
  margin-bottom: 0;
}
.product__body_action {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 18px 25px;
  padding-left: 55px;
}
.product__body_action .button {
  max-width: 222px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  padding: 20px;
  transition: all 0.2s ease;
  border-radius: 5px;
}
.button__text {
  text-align: center;
  transition: all 0.2s ease;
}
.button:active {
  transform: scale(0.9);
}

.button.button--red {
  background-color: var(--red_1);
  color: #fff;
}
.button.button--red:hover {
  background-color: var(--red_2);
}

.homeHero {
  position: relative;
}
.homeHero:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("../../../../img/img/Rectangle 679.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}
.homeHero__in {
  position: relative;
  z-index: 2;
  padding: 40px 0;
}
.homeHero__main {
  display: flex;
  align-items: center;
  margin-left: -60px;
  margin-right: -60px;
}
.homeHero__main_descr {
  margin: 0 60px;
  width: 50%;
}
.homeHero__main_descr_title {
  margin-bottom: 25px;
  font-size: 96px;
  line-height: 90px;
}
.homeHero__main_descr_action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.homeHero__main_descr_action_btn {
  width: 200px;
  height: 156px;
  position: relative;
  margin-top: 20px;
}
.homeHero__main_descr_action_btn:active .homeHero__main_descr_action_btn_shadow {
  opacity: 0;
}
.homeHero__main_descr_action_btn:active .homeHero__main_descr_action_btn_main {
  transform: translateY(5px) translateX(-5px) !important;
}
.homeHero__main_descr_action_btn_shadow {
  background-image: url("../../../../img/img/homeHero-btn-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease;
}
.homeHero__main_descr_action_btn_main {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url("../../../../img/img/homeHero-btn-1.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  transition: all 0.1s ease;
  width: 188px;
  height: 145px;
}
.homeHero__main_descr_action_btn_text {
  width: 100%;
  text-transform: uppercase;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 700;
  text-align: left;
  height: 75px;
}
.homeHero__main_img {
  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.homeHero__main_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}
.homeHero__ex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -35px;
  margin-right: -25px;
  margin-top: 100px;
}
.homeHero__ex_item {
  margin: 0 35px;
  text-transform: uppercase;
  position: relative;
}
.homeHero__ex_item:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fff;
  bottom: -15px;
  content: "";
}

.homeAdv__in {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}
.homeAdv__item {
  width: 100%;
  margin: 0 15px;
  min-height: 320px;
  padding: 40px;
  background-color: #14131A;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}
.homeAdv__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: radial-gradient(139.63% 101.87% at 69.42% 0%, rgba(67, 99, 159, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #14131A;
  opacity: 0;
  transition: all 0.2s ease;
}
.homeAdv__item:hover {
  transform: scale(1.1);
}
.homeAdv__item:hover:after {
  opacity: 1;
}
.homeAdv__item:hover .homeAdv__item_icon svg {
  filter: drop-shadow(0 0 10px #fff);
}
.homeAdv__item:hover .homeAdv__item_icon svg path, .homeAdv__item:hover .homeAdv__item_icon svg rect {
  fill: #fff;
  stroke: #fff;
}
.homeAdv__item_icon {
  margin-left: 30px;
  margin-bottom: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
.homeAdv__item_icon svg {
  transition: all 0.2s ease;
}
.homeAdv__item_icon svg path, .homeAdv__item_icon svg rect {
  transition: all 0.2s ease;
}
.homeAdv__item_body {
  color: #DCDCDC;
  position: relative;
  z-index: 2;
}
.homeAdv__item_body_title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 31px;
  transition: all 0.2s ease;
}
.homeAdv__item_body_text {
  font-size: 16px;
  line-height: 24px;
  transition: all 0.2s ease;
}

.homeProds__in {
  padding: 40px 0;
}
.homeProds__tabs {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.homeProds__tab {
  padding: 14px 5px;
  position: relative;
  text-transform: uppercase;
  font-size: 32px;
  cursor: pointer;
  line-height: 36px;
  transition: all 0.2s ease;
}
.homeProds__tab:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 7px;
  background-color: var(--red_1);
  content: "";
  transition: all 0.2s ease;
}
.homeProds__tab:hover:after {
  width: 100%;
}
.homeProds__tab.active:after {
  width: 100%;
}
.homeProds__body {
  display: flex;
  flex-wrap: wrap;
  margin-left: -37.5px;
  margin-right: -37.5px;
}
.homeProds__item {
  width: calc(25% - 75px);
  margin: 0 37.5px;
  margin-bottom: 70px;
}

.homePas__in {
  padding: 40px 0;
}
.homePas__title {
  text-align: center;
  color: var(--red_1);
  margin-bottom: 90px;
  font-size: 96px;
}
.homePas__body_main {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 40px;
}
.homePas__body_main_item {
  display: flex;
  align-items: flex-start;
  width: calc(33.3333333333% - 40px);
  margin: 0 20px;
}
.homePas__body_main_item_num {
  margin-right: 20px;
  font-size: 32px;
  font-weight: 700;
}
.homePas__body_vals {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}
.homePas__body_vals_item {
  margin: 0 15px;
}
.homePas__body_vals_item:last-child {
  color: var(--red_1);
}
.homePas__body_vals_item_value {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.homePas__body_vals_item_label {
  font-weight: 700;
  max-width: 190px;
  width: 100%;
}
.homePas__body_action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePas__body_action_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease;
}
.homePas__body_action_btn:hover .homePas__body_action_btn_label {
  color: var(--red_1);
}
.homePas__body_action_btn:hover .homePas__body_action_btn_icon svg rect {
  fill: var(--red_1) !important;
  stroke: var(--red_1);
}
.homePas__body_action_btn_label {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}
.homePas__body_action_btn_icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.homePas__body_action_btn_icon svg rect, .homePas__body_action_btn_icon svg path {
  transition: all 0.2s ease;
}

.homeKey__in {
  padding: 40px 0;
}
.homeKey__title {
  font-size: 96px;
  margin-bottom: 100px;
}
.homeKey__body {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.homeKey__body_item {
  margin: 0 10px;
  margin-bottom: 40px;
  width: calc(33.3333333333% - 20px);
  position: relative;
}
.homeKey__body_item_top {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 71px;
}
.homeKey__body_item_top svg {
  width: 100%;
}
.homeKey__body_item_text {
  padding: 55px 35px 8px;
  border: 1px solid #fff;
  min-height: 120px;
  display: flex;
  align-items: center;
}
.homeKey__body_item.homeKey__body_item--action .homeKey__body_item_top .homeKey__body_item_btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.homeAbout__in {
  padding: 40px 0;
}
.homeAbout__title {
  margin-bottom: 100px;
  color: var(--red_1);
  font-size: 96px;
}
.homeAbout__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
}
.homeAbout__body_main {
  flex: 0 0 50%;
  margin: 0 20px;
}
.homeAbout__body_main_text {
  margin-bottom: 40px;
}
.homeAbout__body_main_action button {
  max-width: 255px;
  width: 100%;
}
.homeAbout__body_list {
  flex: 0 0 50%;
  margin: 0 20px;
}
.homeAbout__body_list_item {
  margin-bottom: 65px;
}
.homeAbout__body_list_item_value {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.homeCase__in {
  padding: 40px 0;
}
.homeCase__title {
  margin-bottom: 100px;
  font-size: 96px;
}
.homeCase__body {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.homeCase__body_item {
  width: calc(33.3333333333% - 20px);
  margin: 0 10px;
  border-radius: 11px;
  overflow: hidden;
}
.homeCase__body_item_top {
  height: 65px;
  background-image: url("../../../../img/img/homeCase-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.homeCase__body_item_label {
  min-height: 162px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background-color: #D2D2D2;
  font-size: 32px;
  font-weight: 700;
  color: #000;
}