.casesHead {

  &__in {
    padding: 100px 0 70px;
  }

  &__title {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 85px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    &_btn {
      padding: 25px;
      max-width: 365px;
      width: 100%;
      background-color: #fff;
      text-transform: uppercase;
      letter-spacing: 2.986px;
      color: #000;
    }
  }
}