.homeFb {

  &__in {
    padding: 40px 0;
  }

  &__body {
    display: flex;
    align-items: flex-end;
  }

  &__title {
    // font-size: 96px;
    // line-height: 100px;
    // padding-right: 20px;
    width: 50%;

    span {

    }
  }

  &__form {
    width: 50%;
    padding-left: 20px;

    &_input {
      font-size: 24px;
      line-height: 35px;
      padding: 10px 15px;
      border-bottom: 1px solid #fff;
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      
      &::placeholder {
        color: #fff;
      }
    }

    &_ex {
      color: #E6E6E6;
      margin-bottom: 22px;
    }

    &_action {
      display: flex;
      align-items: center;

      &_btn {
        display: flex;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 3.371px;
        line-height: normal;

        &_text {
          padding-right: 15px;
          @include ease-def;
          color: var(--red_1);
        }
        &_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;

          svg {
            width: 100%;
            height: 100%;
            rect {
              @include ease-def;
            }
          }
        }

        &:hover {

          .homeFb__form_action_btn_text {
            color: #fff;
          }
          .homeFb__form_action_btn_icon {
            svg {
              rect {
                fill: #fff;
              }
            }
          }

        }
      }
    }
  }
  
}

@media (max-width: 768px) {
  .homeFb {

    &__in {
      padding: 25px 0;
    }

    &__body { 
      flex-wrap: wrap;
    }

    &__title {  
      width: 100%;
      margin: 0;
      margin-bottom: 80px;
    }

    &__form {
      width: 100%;
      margin: 0;
      padding-left: 0;

      &_action {
        margin-top: 50px;
        justify-content: center;
      }
    }
  }
}