.homeCase {
  &__in {
    padding: 40px 0;
  }

  &__title {
    
  }

  &__body {
    display: flex;  
    margin-left: -10px;
    margin-right: -10px;

    &_item {
      width: calc((100% / 3) - 20px);
      margin: 0 10px;
      border-radius: 11px;
      overflow: hidden;

      &_top {
        height: 65px;
        // background-color: #9D2320;
        background-image: url('../../../../img/img/homeCase-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

      }
      &_label {
        min-height: 162px;
        display: flex;
        align-items: center;
        padding: 20px 40px;
        background-color: #D2D2D2;
        font-size: 32px;
        font-weight: 700;
        color: #000;
      }
    }
  }
}

@media (max-width: 768px) {
  .homeCase {

    &__in {
      padding: 25px 0;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__body {
      margin-left: 0;
      margin-right: 0;
      flex-wrap: wrap;

      &_item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        &_label {
          font-size: 18px;
          line-height: 27px;
          min-height: 100px;
        }
      }
    }
  }
}