<footer class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="footer__main_in">
        <div class="footer__main_body">
          <h3 class="footer__main_body_title"></h3>
          <div class="footer__main_body_part">
            <ul class="footer__main_body_part_list">
              <li class="footer__main_body_part_item">
                <a href="#">Каталог</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Инвестиции в майнинг</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Майнинг под ключ</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Готовый бизнес</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Кейсы</a>
              </li>
            </ul>
          </div>
          <div class="footer__main_body_part">
            <ul class="footer__main_body_part_list">
              <li class="footer__main_body_part_item">
                <a href="#">О компании</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Оплата и доставка</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Блог</a>
              </li>
              <li class="footer__main_body_part_item">
                <a href="#">Сервис</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__main_ex">
          <ul class="footer__main_ex_list">
            <li class="footer__main_ex_item">Контакты</li>
            <li class="footer__main_ex_item"><a href="tel:88005553535">8 800 555 35 35</a></li>
            <li class="footer__main_ex_item"><a href="mailto:info@Marsminer.ru">info@Marsminer.ru</a></li>
          </ul>
        </div>
        <div class="footer__main_cn">
          <div class="footer__main_cn_item footer__main_cn_item--tg"></div>
          <div class="footer__main_cn_item footer__main_cn_item--wa"></div>
          <div class="footer__main_cn_item footer__main_cn_item--tel"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__ex">
    <div class="container">
      <div class="footer__ex_in">
        2023 © MARSMINER. Все права защищены. Не является публичной офертой. Политика конфиденциальности
      </div>
    </div>
  </div>
</footer>