<header class="header">
  <div class="header__in">
    <div class="header__part">
      <div class="header__burger">
        @@include('./burger.html')
      </div>
      <div class="header__catalog">
        <button class="header__catalog_btn">
          <div class="header__catalog_btn_main">Каталог</div>
          <div class="header__catalog_btn_icon"></div>
        </button>
        <div class="header__catalog_search">
          <button class="header__catalog_search_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27" fill="none">
              <rect x="17.6777" y="17.2634" width="9.02938" height="2" transform="rotate(45 17.6777 17.2634)" fill="white" stroke="white" stroke-width="2" stroke-linejoin="round"/>
              <rect x="1.5" y="1.5" width="17" height="17" rx="5.5" stroke="white" stroke-width="3"/>
              </svg>
          </button>
          <input class="header__catalog_search_input" type="text">
        </div>
      </div>
    </div>
    <div class="header__logo">
      @@include('./logo.html')
    </div>
    <div class="header__part">

    </div>
  </div>
</header>