<div class="menu">
  <button class="menu__close">
    
  </button>
  <div class="menu__main">
    <ul class="menu__main_list">
      <li class="menu__main_item">
        <a href="#">Кейсы</a>
      </li>
      <li class="menu__main_item">
        <a href="">Майнинг под ключ</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Разгон ASIC</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Готовый бизнес</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Оплата и доставка</a>
      </li>
      <li class="menu__main_item">
        <a href="#">О компании</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Сервис</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Проверить гарантию</a>
      </li>
      <li class="menu__main_item">
        <a href="#">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="menu__ex">

  </div>
</div>