<div class="product">
  <div class="product__img">
    <img src="../../img/img/product.png" alt="">
  </div>
  <div class="product__body">
    <div class="product__body_main">
      <div class="product__body_main_name">
        Asic майнер Bitmain Antminer S19J PRO 104TH/s
      </div>
      <div class="product__body_main_price">
        <div class="product__body_main_price_current">138 000 ₽ </div>
        <div class="product__body_main_price_old">1 136 000 ₽</div>
      </div>
    </div>
    <div class="product__body_info">
      <div class="product__body_info_top">
        <div class="product__body_info_top_rating">4.8</div>
        <div class="product__body_info_top_in">Есть в наличии</div>
      </div>
      <div class="product__body_info_list">
        <div class="product__body_info_list_item">Хэшрейт — 104 TH/s</div>
        <div class="product__body_info_list_item">Алгоритм — SHA-256</div>
        <div class="product__body_info_list_item">Добываемые монеты — BTC/BCH</div>
      </div>
    </div>
    <div class="product__body_action">
      @@include('./button.html', {
        "text": 'Заказать'
      })
    </div>
  </div>
</div>