.homeAbout {

  &__in {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;

    &_main {
      flex: 0 0 50%;
      margin: 0 20px;

      &_text {
        margin-bottom: 40px;
      }

      &_action {
        button {
          max-width: 255px;
          width: 100%;
        }
      }
    }


    &_list {
      flex: 0 0 50%;
      margin: 0 20px;

      &_item {
        margin-bottom: 65px;

        &_value {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        &_label {
          
        }
      }

      &_action {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .homeAbout {
    &__in {
      padding: 25px 0;
    }

    &__title {
      margin-bottom: 45px;
    }
    &__body {
      flex-wrap: wrap;

      &_main {
        width: 100%;
        flex: unset;

        &_action {
          display: none;
        }

      }

      &_list {
        width: 100%;
        flex: unset;

        &_item {
          margin-bottom: 30px;

          &_value {
            font-size: 21px;line-height: 30px;
            margin-bottom: 5px;
          }
          &_label {
            font-size: 12px;
            line-height: 18px;
          }
        }

        &_action {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
